body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 65px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.button1 {
    margin: 0 auto;
    background-color: rgb(214, 68, 58); 
    border-radius: 18px;
    border: 3px solid rgb(10, 7, 7); 
    display: inline-block; cursor: pointer; 
    color: rgb(27, 31, 27); 
    font-family: "Courier New"; 
    font-size: 27px; 
    padding: 21px 45px; 
    text-decoration: none;
}